<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TransactionMapper">

    <parameterMap id="TransactionParam" type="dan.example.dan_financial_book.transaction.dto.TransactionDto" />

    <resultMap id="TransactionResult" type="dan.example.dan_financial_book.transaction.dao.TransactionDao">
        <result column="tr_id" property="id" jdbcType="BIGINT" javaType="long"/>
        <result column="type" property="id" jdbcType="VARCHAR" javaType="String"/>
        <result column="amount" property="id" jdbcType="INTEGER" javaType="String"/>
        <result column="content" property="id" jdbcType="VARCHAR" javaType="String"/>
        <result column="category" property="id" jdbcType="VARCHAR" javaType="String"/>
        <result column="date" property="id" jdbcType="DATE" javaType="String"/>
        <result column="crt_time" property="id" jdbcType="DATE" javaType="String"/>
        <result column="upt_time" property="id" jdbcType="DATE" javaType="String"/>
    </resultMap>

    <select id="findTransactionByDate" parameterType="java.lang.String" resultType="TransactionResult">
        SELECT * FROM t_transaction WHERE date = #{date}
    </select>

    <insert id="addTransaction" parameterType="TransactionParam">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT nextval('seq_transaction_id');
        </selectKey>

        insert into t_transaction (tr_id, type, amount, content, category, date, crt_time, upt_time)
        values (#{id}, #{type}, #{amount}, #{content}, #{category}, #{date}, now(), now())

    </insert>


</mapper>